$font-stack-body:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$font-stack-title:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

$base_color: #374448;
$pink: #EB1F7C;
$purple: #B5115D;
$light_gray: #bbbbbe;
$verylight_gray: #f7f7f7;
$gray: #737B81;
$black: #1d1d26;
$red: #f20d56;
$green: #10a665;

$site_width: 1200px;

$transition_default: all 0.2s ease-out;
$transition_slow: all 0.4s ease-out;